 :global(.vtex-store__template) {
   --primary-color      : #0c2340;
   --primary-color-rgba : rgba(12, 35, 64, 0.502);
   --secondary-color    : #e56a54;
 }
 /*slider home-categoria*/
 :global(.vtex-store-components-3-x-imageElement--slider-imagen__categorias){
  object-fit: cover;
  height: 300px;
 }
 /*logo movil*/
 :global(.vtex-store-components-3-x-logoContainer){
   margin-right: 40px;
   padding: 0%;  
  
 }
:global(.vtex-store-components-3-x-container){
  padding-left: 0%;
  padding-right: 0%;
}
:global(.vtex-store-components-3-x-logoImage){
  margin-left: 0%;
}
:global(.vtex-store-components-3-x-logoImage){
  max-width: max-content!important;
}