.popupContentContainer{
border-radius: 8px;
}
.popupChildrenContainer{
    border-radius: 8px;
}
.minicartCheckoutButton :global(.vtex-button){
    background: none;
    color: orangered;
    border: 0px;
}