:global(.vtex-store-components-3-x-productImagesGallerySlide--product__info--mensaje){
margin: 0px;
}
:global(.vtex-store-components-3-x-productImageTag--product__info--mensaje--main){
    width: 100%;
    height: 100%;
    max-height: 350px!important;
    object-fit: contain;
}
:global(.vtex-store-components-3-x-carouselThumbBorder--product__info--mensaje){
    border: 2px solid #e9e2e2;
}
:global(.vtex-store-components-3-x-caretIcon--product__info--mensaje){
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
}
:global(.vtex-store-components-3-x-carouselGaleryThumbs--product__info--mensaje) .swiper-wrapper{
    flex-direction: column;
    justify-content: space-between;
}
:global(.vtex-store-components-3-x-shippingContainer){
    display: flex;
}

.vtex-reviews-and-ratings-3-x-star--filled{

    color: orange;
}
.star--filled{

}