.flexRowContent--product-info-store{
    gap: 80px !important;
    padding: 20px;
}
.flexRowContent--flex-row-quantity :global(.vtex-button){
    height: 40px!important;
}
.flexRowContent--product-info-store :global(.vtex-store-components-3-x-productBrand ){
    font-weight: 700!important;
}
.flexRowContent--product-info-store  :global(.vtex-store-components-3-x-sellingPrice){
    font-size: 25px;
}
/* .flexRowContent--product-info-store :global(.vtex-button){
 
} */
.flexRowContent--flex-row-quantity  :global(.vtex-button){
    background-color: orangered!important;
    border: 0px;
}
.flexRowContent--product-brand{
align-items: baseline;
flex-wrap: wrap;
}

.flexColChild--contenedor-menu-departament-results :global(.vtex-menu-2-x-styledLinkContainer) {
    margin-right: 1.5rem;
    border-bottom: 1px solid #7777;
    margin-left: 0px;
} 