:global(.vtex-store-components-3-x-productImagesGallerySlide--product__info--mensaje){
margin: 0px;
}
:global(.vtex-store-components-3-x-productImageTag--product__info--mensaje--main){
    width: 100%;
    height: 100%;
    max-height: 350px!important;
    object-fit: contain;
}
:global(.vtex-store-components-3-x-carouselThumbBorder--product__info--mensaje){
    border: 2px solid #e9e2e2;
}
:global(.vtex-store-components-3-x-caretIcon--product__info--mensaje){
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
}
:global(.vtex-store-components-3-x-carouselGaleryThumbs--product__info--mensaje) .swiper-wrapper{
    flex-direction: column;
    justify-content: space-between;
}
:global(.vtex-store-components-3-x-shippingContainer){
    display: flex;
}

:global(.vtex-reviews-and-ratings-3-x-star--filled){

    color: orange;
}

:global(.vtex-reviews-and-ratings-3-x-star--empty){
    color: orange;
}
:global(.vtex-store-components-3-x-productImagesThumb--product__info--mensaje){

    height: auto;
    max-width: 75px;
    max-height: 75px;
    position: relative;
}

:global(.vtex-reviews-and-ratings-1-x-review__title){
    display: none;
}
:global(.vtex-reviews-and-ratings-3-x-graphBarContainer){
    background-color: #eee;
    border-radius: 10px;
    display: inline-flex;
    height: 12px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: text-top;
    width: calc(100% - 105px);
}
:global(.vtex-reviews-and-ratings-3-x-graphBar){
    background-color:#45a00a;
    border-radius: 10px;
}
:global(.vtex-reviews-and-ratings-3-x-reviewsHeading){
    display: none;
}
:global(.vtex-reviews-and-ratings-3-x-reviewsRatingAverage){
    font-size: 40px;
    overflow: hidden;
    line-height: initial;
}
:global(.vtex-reviews-and-ratings-3-x-reviewsRating){
    display: flex;
    gap: 20px;
    flex-direction: column-reverse;
    height: 177px;
    width: 97px;
}
:global(.vtex-reviews-and-ratings-3-x-reviewsRatingCount){
    display: none;
}
:global(.vtex-reviews-and-ratings-3-x-reviewsRatingAverage){
    height: 38px;
}
:global(.vtex-reviews-and-ratings-3-x-graphContent){
    position: relative;
    left: 167px;
    width: calc(100% - 165px);
    bottom: 202px;
    height: 0px;
}
:global(.vtex-reviews-and-ratings-3-x-graphTextLabel){
    color: #666;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}
:global(.vtex-reviews-and-ratings-3-x-graphBarPercent){
    color: #666;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}
:global(.vtex-reviews-and-ratings-3-x-container){
    position: relative;
}
:global(.vtex-reviews-and-ratings-3-x-inlineContainer){

    margin: 0px;
    text-align: start;
    padding-left: 8px;
}
:global(.vtex-reviews-and-ratings-3-x-reviewCommentMessage){

    color: #666;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}
:global(.vtex-store-components-3-x-imageElement--banner__cmr){
    width: 35px;
    height: fit-content!important;
}
:global(.vtex-store-components-3-x-price_sellingPrice){
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.4rem;
}
:global(.vtex-store-components-3-x-productBrand){

    font-family: Arial,Roboto,"-apple-system",Helvetica,sans-serif;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 0;
    color: #333;
}  