.slider-imagen__categorias{
width: 200px;
}
.home__slider--ofertas{
width: 100px;
}
.paginationDotsContainer--home__slider{
    display: none;
}
.paginationDotsContainer--slider-vitrina{
    display: none;
}

.caretIcon--slider-vitrina{
    background-color: white;
    height: 16px;
    width: 16px;
    padding: 10px;
    border-radius: 50%;
}
