/*banner de crm falabella*/
.flexRow{
    margin: 0px;
    padding: 0%;
}
.flexRow--home__section-global{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    overflow: hidden;
}

.flexRowContent--home__section-global {
    width: 1180px;
    height: 100px;
 }

.flexRowContent--flex-layout-header{
    background-color:#3d3d3d;
}
.flexColChild--home__global{
    display: flex;
    margin: 0px auto;
    max-width: 1180px;
}

