.flexRowContent--section-3-columnas-tablet :global(.vtex-menu-2-x-styledLinkContainer){
    margin: 0px;
    padding-bottom: 0.4rem;
    opacity: 90%;
}
.flexRowContent--section-3-columnas-tablet .vtex-menu-2-x-styledLinkContent{
    white-space: break-spaces;
}
.flexRowContent--section-3-columnas-tablet :global(.vtex-rich-text-0-x-paragraph){
    color: #333;
    font-family: Arial,Roboto,"-apple-system",Helvetica,sans-serif;
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;
}
.flexRowContent--section-3-columnas-tablet :global(.vtex-menu-2-x-styledLinkContent){
    font-size: 12px;
    line-height: 1.4;
}
.flexRowContent--section-3-columnas-tablet:last-child(){
    width: 23%;
}

.flexColChild--columna2-section3-footer :first-child :first-child{
    display: flex;
    
} 