.slideChildrenContainer{
    border: 1px solid gainsboro;

    padding-left: 10px;
    padding-right: 10px;
}
.slideChildrenContainer:hover{

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* box-shadow: 10px 10px 3px #D8D8D8;

	transition: height .4s; */
.sliderTrack{
    gap: 10px;
}
