.slideChildrenContainer{
    border: 1px solid gainsboro;

    padding-left: 20px;
    padding-right: 20px;
}
.slideChildrenContainer:hover{

box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.186);
}
/* box-shadow: 10px 10px 3px #D8D8D8;

	transition: height .4s; */
.sliderTrack{
    gap: 10px;
}
