 :global(.vtex-store__template) {
   --primary-color      : #0c2340;
   --primary-color-rgba : rgba(12, 35, 64, 0.502);
   --secondary-color    : #e56a54;
 }
 /*slider home-categoria*/
 :global(.vtex-store-components-3-x-imageElement--slider-imagen__categorias){
  object-fit: cover;
  height: 300px;
 }
 @media (max-width: 1024px) {
  :global(.vtex-store-components-3-x-imageElement--slider-imagen__categorias){
    object-fit: cover;
    height: 230px;
   }
 }

 /*slider home tecnologia  para inicio de año*/
/* :global(.vtex-store-components-3-x-imageElement--home__section-tecnologia-fin-de-año-one){
  height: 200px;
} */

@media (max-width: 780px) {
  
  :global(.vtex-store-components-3-x-imageElement--home__banner-falabella){
    object-fit: cover;
    height: 160px;
  }
  :global(.vtex-store-components-3-x-imageElement--home__banner-app){
    object-fit: cover;
    height: 160px;
  
  }
  /*section de tecnologia de fin de año*/
  :global(.vtex-store-components-3-x-imageElement--home__section--tecnologia-one){
    display: flex;
    height: 160px;
    object-fit: cover;
  }
  :global(.vtex-store-components-3-x-imageElement--home__section--belleza-salud-one){
    display: flex;
    height: 160px;
    object-fit: cover;
  }
 }
 @media (min-width: 780px) {
 :global(.vtex-store-components-3-x-imageElement--home__section--tecnologia-one){
  display: flex;
  height: 20vw;
  max-height: 220px;
  object-fit: cover;
}
:global(.vtex-store-components-3-x-imageElement--home__section--belleza-salud-one){
  display: flex;
  height: 20vw;
  max-height: 220px;
  object-fit: cover;
}

 }

 :global(.vtex-store-components-3-x-imageElement--home__section-ofertas_2_one){
  object-fit: cover;
  height: 150px;

}
 @media (min-width: 640px) {
 :global(.vtex-store-components-3-x-imageElement--home__section-ofertas_2_one){
  object-fit: cover;
  height: 15vw;
  max-height: 180px;
}
 }

/* :global(.vtex-flex-layout-0-x-flexRowContent--home__section__tecnologia--images_dos){
display: flex;
  flex-direction: row;
}
:global(.vtex-flex-layout-0-x-flexRowContent--home__section__belleza-salud--images_dos){
  display: flex;
  flex-direction: row;
} */

:global(.vtex-store-header-2-x-headerRowBackground--flex-layout-header){
  
  background-color:   #3d3d3d;
} 
:global(.vtex-store-header-2-x-headerRowContainer--flex-layout-header){
  
  max-width: 1180px;
  border: 1px solid #e56a54;
  
  
  margin: 0 auto;
}
/*logo mobile */
:global(.vtex-store-drawer-0-x-openIconContainer--header__mobile-menu){
  color: #ffff;
}
 :global(.vtex-menu-2-x-styledLinkContent--submenu-departament-tiendas-oficiales){
  display: flex;
  
 }
 :global(.vtex-menu-2-x-styledLinkContent):hover{
background-color: orangered;
color: #ffff;
 }
 :global(.vtex-store-drawer-0-x-openIconContainer){
color:#ffff;

 }
 /*logo movil*/
 :global(.vtex-store-components-3-x-logoContainer){
margin-right: 40px;
padding: 0%;  
  
  
 }
/*megamenu  centrado*/
 :global(.vtex-mega-menu-2-x-menuContainerNav){
 max-width: 1180px;
 
 }
:global(.vtex-store-drawer-0-x-drawerContent--header__desktop-menu ){
max-height: max-content !important;
}

 /*menu-items*/
/*  :global(.vtex-menu-2-x-submenuWrapper){
position: absolute;
left: 50%;
z-index: initial;
 } */
/*  :global(.vtex-store-drawer-0-x-drawer--header__desktop-menu){
  max-width: 1180px !important;
  display: flex;
  align-items: center;
max-height: fit-content;
 } */
 /* :global(.vtex-menu-2-x-submenuWrapper--isOpen){
  position: absolute;
 } */
/*  :global(.vtex-store-drawer-0-x-drawerContent--header__desktop-menu){
margin: 0px auto;
 } */
/*  :global(.vtex-menu-2-x-submenuWrapper--isOpen){
  position: absolute;
  left: 250px;
  top: -356px;
 } */
 :global(.vtex-menu-2-x-submenu){
  /* w-100 flex justify-center */
  position: absolute;
display: flex;
flex-direction: column;
  top: calc(  -340px);
  right: -717px;
margin: 0px auto;
 }
 :global(.vtex-menu-2-x-menuItem){
position: relative;
z-index: 2;
 } 
 :global(.vtex-store-drawer-0-x-drawer--header__desktop-menu){
  
  position: absolute ;
  top: 65px;
  max-width: 1180px!important ;
  max-height: fit-content;
 }
 :global(.vtex-menu-2-x-styledLinkContainer--submenu-departament-tiendas-oficiales){
  margin: 0%;
 }
/*  list vtex-menu-2-x-menuItem vtex-menu-2-x-menuItem--isOpen" */