.flexRow--flex-departament-results  :global(.vtex-product-summary-2-x-element){
gap: 20px;
}

.flexRow--flex-departament-results  :global(.vtex-product-summary-2-x-element) :global(.vtex-product-price-1-x-sellingPrice){
    font-size: 1.5rem;
    font-weight: 600;
    }
   
.flexRowContent--flex-section-filters{

    display: flex;
    background-color: white;
    border: 1px solid #3f3f3f47;
    font-weight: 700;
    height: 50px;
    justify-content: space-around;

}
.flexRowContent--store-product{
    max-width: 1180px;
    margin: 0px auto;
}
.flexColChild--contenedor-menu-departament-results :global(.vtex-menu-2-x-menuItem--isClosed){
    border-bottom: 1px solid #7777 ;
}
.flexColChild--contenedor-menu-departament-results :global(.vtex-menu-2-x-styledLinkContainer){
    margin-left: 0px;
}
.flexColChild--contenedor-menu-departament-results :global(.vtex-menu-2-x-styledLinkContent){
    color: #666;
    font-family: Arial,Roboto,"-apple-system",Helvetica,sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
    font-family: Arial,Roboto,"-apple-system",Helvetica,sans-serif;
    font-size: 12px;
    text-decoration: none;
}
.flexRowContent--universo-productos{
    border-bottom: 1px solid #3333;
    border-top: 1px solid #3333;
    padding: 20px 16px 16px;
    align-items: center;
} 
.flexRowContent--proteccion__comprador :global(.vtex-store-link-0-x-link){

    background: none;
    color: #666;
    border: 0px;
    text-transform: capitalize;
    
}
.flexRowContent--proteccion__comprador :global(.vtex-store-link-0-x-label){
text-align: initial;
}
.flexRowContent--links-section-uno{
padding-left: 10px;
padding-top: 5px;
padding-bottom: 5px;
    width: max-content;
    gap: 10px;
    display: flex;
}

.flexRow--botones-cuenta{

    height: 100%;
    background-color: #eee;
    justify-content: center;
    display: flex;
    padding: 8px;
}
.flexRowContent--botones-cuenta{
    gap: 11px;
}