.headerRowContainer--flex-tablet .vtex-login-2-x-container{
    background-color: aqua;
}
.headerRowContainer--flex-tablet :global(.vtex-login-2-x-container){
    border-right: 1px solid #eee;
}
.headerRowContainer--flex-tablet :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-button){
    border-left: 1px solid #eee;
}