.flexRowContent--flex-row-apps-dowload{
    display: flex;
    flex-wrap: wrap !important;
}
.flexRowContent--flex-row-apps-dowload :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 125px !important;
    height: 36px ;
    margin: 5px;
}
.flexColChild--grupo-disclosure{
    height: 100%;
}
/* .flexColChild--grupo-disclosure:global(.vtex-disclosure-layout-1-x-trigger){
}
.flexColChild--grupo-disclosur{
    border-bottom: 1px solid #808080b3;
} */

.flexColChild--grupo-disclosure :global(.vtex-disclosure-layout-1-x-trigger){
border-bottom: 0px solid dimgray;
border: 0px;
font-size: 0.8rem;
border-bottom:  1px solid #808080b3;
}
.flexColChild--grupo-disclosure :global(.vtex-disclosure-layout-1-x-trigger):global(.vtex-rich-text-0-x-container){

}
.flexRowContent--metodos-pago{
    display: flex;
    padding: 30px 0px;
    margin-top: 20px;
    border-top:1px  solid #808080b3;
    border-bottom:1px  solid #808080b3;
    opacity: 90%;
}
.flexRowContent--metodos-pago :global(.vtex-rich-text-0-x-paragraph) {
    line-height: 2;
    font-size: 0.8rem;
}
