.flexRowContent--flex-row-apps-dowload{
    display: flex;
    flex-wrap: wrap !important;
}
.flexRowContent--flex-row-apps-dowload :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 125px !important;
    height: 36px ;
    margin: 5px;
}
.flexColChild--grupo-disclosure{
    height: 100%;
    border-bottom: 1px solid;
}
.flexColChild--grupo-disclosure:global(.vtex-disclosure-layout-1-x-trigger){
    border: 0px;
}