
.link--botton-si{

    background-color: orangered;
    border: 0px;
}
.link--botton-si:hover{

    background-color: orangered;
    border: 0px;
}
.link--botton-no{

    background-color: #333333;
    border: 0px;
}
.link--botton-no:hover{
    background-color: #333333;
    border: 0px;
}