.vtex-input__label{
    font-size: 2rem;
}
.newsletterForm--newsletter-footer :global(.vtex-input__label){
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}
.newsletterForm--newsletter-footer :global(.vtex-styleguide-9-x-input){
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding-top: 4px;
}
.formSubmitContainer :global(.vtex-button){
    width: 100%;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    opacity: 65%;
    font-size: 1rem;
    height: 32px;
    padding: .21rem .5rem;
}