.flexRowContent--metodos-pago{
    display: flex;
    padding: 30px 0px;
    margin-top: 20px;
    border-top:1px  solid #808080b3;
    border-bottom:1px  solid #808080b3;
    opacity: 90%;
}
.flexRowContent--metodos-pago :global(.vtex-rich-text-0-x-paragraph) {
    line-height: 2;
    font-size: 0.8rem;
}
