.flexRow--drawer-header{

    position: absolute;
    right: -55px;
    color: aliceblue;
}
.flexRow--drawer-header :global(.vtex-store-drawer-0-x-closeIcon){


color: antiquewhite;}
.flexRowContent--cuenta-megamenu{
  /*   padding: 14px; */
    gap: 10px;
}
.flexRow--cuenta-megamenu{

    width: 100%;
}

.flexRowContent--cuenta-megamenu{

    background-color: #eee;
}
.flexRow--cuenta-megamenu{
    width: 100%!important;
}
.flexRowContent--cuenta-megamenu{

    height: 200px;
}
.flexColChild--columna-cuenta{

    height: 100%;
    background: white;
    border-bottom: 1px solid #3333;
}
/* .flexColChild--columna-cuenta{

    justify-content: start;
    height: 100%;
    display: flex;
} */
.flexRowContent--container .stretchChildrenWidth:nth-child(even){
    overflow: hidden;
} 
.flexRowContent--container{
    justify-content: flex-start;
}
.flexRowContent--minicart-footer:global(.vtex-checkout-summary-0-x-summaryItemContainer) :first-child{
display: none;
}