.flexRow--flex-departament-results  :global(.vtex-product-summary-2-x-element){
gap: 20px;
}

.flexRow--flex-departament-results  :global(.vtex-product-summary-2-x-element) :global(.vtex-product-price-1-x-sellingPrice){
    font-size: 1.5rem;
    font-weight: 600;
    }
   
.flexRowContent--flex-section-filters{

    display: flex;
    background-color: white;
    border: 1px solid #3f3f3f47;
    font-weight: 700;
    height: 50px;
    justify-content: space-around;
}