.container--layout {
    margin: 0px auto;
  max-width: 1180px;
  gap: 20px;
}
  .searchResultContainer{
    background-color: #f6f6f6;
    padding-bottom: 200px;
  }
  .galleryItem--normal :global(.vtex-product-summary-2-x-containerNormal){
    background-color: whitesmoke;
  }

  .filtersWrapper{
    display: flex;
    font-weight: 700;
    height: 50px;
    justify-content: space-around; 
  }
  .filterContent{
    background-color: white;
    box-shadow:10px ;
    position: relative;
    z-index: 1;
  }
  .sidebar{
    width: calc(100% - 14px);
  }
  .gallery--list :global(.vtex-product-summary-2-x-containerNormal){
    max-width: 100% !important;
  }
  .gallery--list :global(.vtex-search-result-3-x-galleryItem--normal){

    max-width: 100%;
    flex-basis: 100%;
  }
  .gallery--list .vtex-flex-layout-0-x-flexRow--flex-departament-results .vtex-product-summary-2-x-element{
  flex-direction: row !important;
    gap: 20px;
    }
    .gallery--list :global(.vtex-flex-layout-0-x-flexCol--summary-departament){
      align-items: baseline;
    }

    .gallery--list :global(.vtex-product-summary-2-x-imageContainer){
      width: fit-content;
    }
.gallery--list :global(.vtex-store-components-3-x-sellingPrice){
  text-align: initial;
}
.gallery--list :global(.vtex-product-summary-2-x-nameContainer){
  padding-top: 30px;
  display: block;
}
.gallery {
padding-left: 0%;
}
.galleryItem--list{

  flex-basis: 100%;
  max-width: 100%;
  max-height: 250px;
}